body {
    background: linear-gradient(to bottom,#44147B, #2A1468) no-repeat center center;
    background-size: cover;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

#inicial {
    background: url('../img/bg1.svg') no-repeat bottom center;
    background-size: cover;
}


#inicial .logo img{
    width: 60%;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top: 10px;
}

#inicial .texto .titulo h1{
    font-size: 25px;
    font-weight: 500;
}

#inicial .texto .titulo span {
    font-weight: 700;
}

#inicial .texto .paragrafo .p1 {
    font-weight: 300;
    font-size: 15px;
    
}

#inicial .texto .paragrafo .p2 {
    font-size: 15px;
    font-weight: 300;
    text-align: left;
}

#inicial .texto .paragrafo .p2 span {
    font-weight: 700;
}

#inicial .texto .paragrafo .p3 {
    font-weight: 300;
}

#inicial .texto .paragrafo .p3 span {
    font-weight: 700;
}

#inicial .botao {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 50px;
    text-align: center;
    position:relative;
    height: 40px;
    background: #C133B7;
    box-shadow: 0px 25px 6px rgba(0,0,0,0.16);
}

#profissional .titulo {
    font-size: 25px;
    font-weight: 500;
}

#profissional .titulo span {
    font-weight: 700;
}

#profissional .paragrafo {
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 50px;
}

#ferramentas {
    text-align: left;
}

#ferramentas .titulo {
    font-size: 25px;
}

#ferramentas .botao {
    background: #C133B7;
    border-radius: 20px;
    width: auto;
    text-align: center;
    box-shadow: 0px 25px 6px rgba(0,0,0,0.16);
    align-items: center;
}

#ferramentas .botao span {
    font-weight: 700;
}

#rocketpage .paragrafo {
    text-align: left;
}

#rocketpage .botao {
    background: #00A3FF;
    width: 60%;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 30px;
}

#rocketpage .botao2 {
    background: #F9655A;
    width: 60%;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 30px;
}

#rocketpage .botao3{
    background: #00A3FF;
    width: 60%;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 30px;
}

#rocketpage .botao4 {
    background: #F9655A;
    width: 60%;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 30px;
}

#cadastro form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cadastro input {
    width: 90%;
    height: 40px;
    margin-top: 10px;
    border-radius: 4px;
}

#cadastro button {
    background: #C133B7;
    width: 80%;
    border-radius: 20px;
    height: 38px;
}

#footer {
    background: #C133B7;
}

#footer p{
    font-weight: 200;
    margin-top: 5px;
}

#footer .logo{
    width: 50%;
    margin-left: 20%;
}

#footer .icons{
    font-size: 25px;
    margin-left: 25%;
}

#footer .icons i {
    padding-left: 20px;
}

/*MEDIA QUERIES*/

@media screen and (min-width: 320px) {
   #rocketpage .titulo h3{
       font-size: 25px;
       font-weight: 300;
       text-align: left;
   }

   #rocketpage .imagem {
       width: 70%;
   }

   #video iframe {
       width: 250px;
   }

   #footer .icons {
       margin-left: -50px;
   }
}

@media screen and (min-width: 768px) {
    #inicial .logo{
        width: 50%;
        margin-left: -50px;
    }

    #ferramentas .titulo{
        text-align: center;
    }

    #ferramentas .paragrafo {
        text-align: center;
    }

    #ferramentas .botao {
        width: 60%;
        margin-left: 20%;
    }

    #ferramentas .imagem {
        width: 60%;
        margin-left: 20%;
    }

    #rocketpage .botao {
        width: 60%;
    }

    #rocketpage .botao p {
        padding-right: 20px;
    }

    #rocketpage .imagem {
        width: 80%;
    }

    #video iframe {
        width: 600px;
        height: 400px;
        margin-bottom: 20px;
    }

    #cadastro input {
        width: 70%;
    }

    #cadastro button {
        width: 40%;
    }
    #footer p {
        padding-top: 20px;
    }
    
    #footer .logo {
        padding-top: 20px;
    }
}

@media screen and (min-width: 1024px) {

    img {
        width: 80%;
    }

    #ferramentas .paragrafo {
        max-width: 500px;
        margin-left: 20%;
    }
    
    #ferramentas .botao {
        margin-left: 18%;
    }

    #ferramentas .imagem {
        width: 70%;
        margin-left: 22%;
    }

    #cadastro input {
        width: 40%;
    }

    #cadastro button {
        margin-bottom: 80px;
    }



}

@media screen and (min-width: 1200px) {
   
    #inicial .logo {
        width: 40%;
    }

    #inicial .imagem {
        width: 90%;
    }

    #profissional .imagem {
        width: 90%;
    }

    #ferramentas .paragrafo {
        margin-left: 25%;
    }
    
    #ferramentas .botao {
        width: 40%;
        margin-left: 27%;
    }

    #ferramentas .imagem {
        margin-left: 30%;
    }

    #rocketpage .imagem {
        width: 80%;
    }
}

@media screen and (min-width: 1366px) {

    #ferramentas .paragrafo {
        max-width: 600px;
        margin-left: 25%;
    }

    #ferramentas .paragrafo .p2 {
        margin-left: 0;
    }

    #ferramentas .botao {
        width: 40%;
        margin-left: 30%;
    }

    #ferramentas .imagem {
        width: 70%;
        margin-left: 40%;
    }

    #rocketpage .imagem {

        width: 60%;
    }

    #rocketpage .imagem .captura {
        width: 100%;
    }

    #cadastro input {
        width: 40%;
    }
}

@media screen and (min-width: 1400px) {

    #inicial .logo {
        width: 30%;
    }

    #inicial .imagem {
        width: 80%;
    }

    #profissional .imagem {
        width: 80%;
    }

    #ferramentas .paragrafo {
        margin-left: 27%;
    }

    #ferramentas .imagem {
        margin-left: 43%;
    }

    #rocketpage .imagem{
        width: 70%;
    }
}