body {
    background: linear-gradient(to bottom,#44147B, #2A1468) no-repeat center center;
    background-size: cover;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

#inicial {
    background: url('../img/bg1.svg') no-repeat bottom center;
    background-size: cover;
}


#inicial .logo img{
    width: 60%;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top: 10px;
}

#inicial .texto .titulo h1{
    font-size: 25px;
    font-weight: 300;
}

#inicial .texto .titulo span {
    font-weight: 700;
}

#inicial .texto .paragrafo .p1 {
    font-weight: 300;
    font-size: 15px;
    
}

#inicial .texto .paragrafo .p2 {
    font-size: 15px;
    font-weight: 300;
    text-align: left;
}

#inicial .texto .paragrafo .p2 span {
    font-weight: 700;
}

#inicial .texto .paragrafo .p3 {
    font-weight: 300;
}

#inicial .texto .paragrafo .p3 span {
    font-weight: 700;
}

#inicial .botao {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 50px;
    text-align: center;
    position:relative;
    height: 40px;
    background: #C133B7;
    box-shadow: 0px 25px 6px rgba(0,0,0,0.16);
}

#inicial .imagem {
    width: 100%;
}

#profissional .titulo {
    font-size: 25px;
    font-weight: 500;
}

#profissional .titulo span {
    font-weight: 700;
}

#profissional .paragrafo {
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 50px;
}

#profissional .imagem {
    width: 100%;
}

#ferramentas {
    text-align: left;
}

#ferramentas .titulo {
    font-size: 25px;
}

#ferramentas .botao {
    background: #C133B7;
    border-radius: 20px;
    width: auto;
    text-align: center;
    box-shadow: 0px 25px 6px rgba(0,0,0,0.16);
    align-items: center;
    margin-top: 20px;
}

#ferramentas .imagem {
    width: 100%;
}

#ferramentas .botao span {
    font-weight: 700;
}

#rocketpage .paragrafo {
    text-align: left;
}

#rocketpage .imagem{
    width: 100%;
}

#rocketpage .botao {
    background: #00A3FF;
    width: 60%;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 30px;
}

#rocketpage .botao2 {
    background: #F9655A;
    width: 60%;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 30px;
}

#rocketpage .botao3{
    background: #00A3FF;
    width: 60%;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 30px;
}

#rocketpage .botao4 {
    background: #F9655A;
    width: 60%;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 30px;
}

#cadastro form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cadastro input {
    width: 90%;
    height: 40px;
    margin-top: 10px;
    border-radius: 4px;
}

#cadastro button {
    background: #C133B7;
    width: 80%;
    border-radius: 20px;
    height: 38px;
}

#footer {
    background: #C133B7;
}

#footer p{
    font-weight: 200;
    margin-top: 5px;
}

#footer .logo{
    width: 50%;
    margin-left: 20%;
}

#footer .icons{
    font-size: 25px;
    margin-left: 25%;
}

#footer .icons i {
    padding-left: 20px;
}

/*MEDIA QUERIES*/

@media screen and (min-width: 320px) {
    
    #inicial .texto .titulo h1{
        font-size: 30px;
        max-width: 400px;
    }

    #inicial .texto .paragrafo {
        text-align: justify;
        margin-bottom: 30px;
    }

    #inicial .botao {
        width: 80%;
        margin-left: 10%;
    }

    #profissional .titulo h3 {
        font-weight: 200;
        font-size: 30px;
    }

    #rocketpage .titulo h3{
       font-size: 25px;
       font-weight: 300;
       text-align: justify;
   }

   #ferramentas .titulo h3 {
       font-size: 30px; 
       font-weight: 200;
   }

   #ferramentas .titulo span {
       font-weight: 700;
   }

   #ferramentas .botao a{
       font-size: 20px;
   }

   #rocketpage .imagem {
       width: 70%;
   }

   #video iframe {
       width: 250px;
   }



   #footer .icons {
       margin-left: -50px;
   }
}

@media screen and (min-width: 768px) {
    
    #inicial .logo{
        width: 50%;
        margin-left: -8%;
    }

    #inicial .texto .titulo {
        
    }

    #inicial .texto .paragrafo {
      
    }

    #inicial .imagem {
        width: 70%;
        margin-left: 15%;
    }

    #ferramentas .titulo{
        text-align: center;
    }

    #ferramentas .paragrafo {
        text-align: center;
    }

    #ferramentas .botao {
        width: 60%;
        margin-left: 20%;
    }

    #ferramentas .imagem {
        width: 70%;
        margin-left: 15%;
    }

    #rocketpage .botao {
        width: 60%;
    }

    #rocketpage .botao p {
        padding-right: 20px;
    }

    #rocketpage .imagem .captura{
        margin-bottom: 50px;
    }

    #rocketpage .imagem {
        width: 40%;
    }

    #video iframe {
        width: 600px;
        height: 400px;
        margin-bottom: 20px;
    }

    #cadastro input {
        width: 70%;
    }

    #cadastro button {
        width: 40%;
    }
    #footer p {
        padding-top: 20px;
    }
    
    #footer .logo {
        padding-top: 20px;
    }
}

@media screen and (min-width: 1024px) {


    
    #inicial .logo {
        width: 40%;
        margin-left: -50px;
        margin-bottom: 10px;
    }

    #inicial .texto .titulo h1 {
        max-width: 500px;
        font-size: 40px;
    }

    #inicial .texto .paragrafo .p2 {
        max-width: 400px;
        text-align: ju;
    }

    #inicial .botao{
        width: 55%;
        height: 50px;
        padding-top: 7px;
        margin-top: 40px;
        margin-left: 0;
    }

    #inicial .botao a {
        font-weight: 200;
    }

    #inicial .imagem {
        width: 80%;
        margin-left: -10px;
    }

    #profissional .titulo {
        max-width: 600px;
    }

    #profissional .imagem {
        width: 80%;
        margin-left: 5%;
    }

    #ferramentas .titulo {
        font-weight: 300;
    }

    #ferramentas .titulo span {
        font-weight: 700;
        
    }

    #ferramentas .paragrafo {
        margin-left: 20%;
        text-align: center;
        max-width: 800px;
        font-weight: 200;
    }

    #ferramentas .botao {
        margin-left: 25%;
        width: 60%;
    }

    #ferramentas .botao a {
        font-size: 25px;
    }

    #ferramentas .imagem {
        margin-left: 35%;
        width: 40%;
    }

    #rocketpage{
        margin-left: 20%;
    }

    #rocketpage .paragrafo{
        font-weight: 200;
        text-align: justify;
    }

    #rocketpage .imagem .aviao {
        width: 100%;
    }

    #rocketpage .imagem .pessoa {
        margin-left: 80px;
    }

    #rocketpage .imagem .funil {
        margin-left: 20%;
    }

    #rocketpage .imagem{
        width: 90%;
    }

    #rocketpage .imagem .funil {
        margin-left: 0;
    }

    #cadastro input {
        width: 40%;
    }

    #footer .logo {
        width: 30%;
        margin-top: 10px;
        margin-left: 35%;
    }

    #footer .icons {
        margin-top: 10px;
    }

    #footer p {
        margin-top: 20px;
    }



}

@media screen and (min-width: 1200px) {
    

    #inicial .logo {
        width: 25%;
        margin-bottom: 10px;
    }

    #inicial .texto .titulo h1 {
        max-width: 500px;
        font-size: 40px;
    }

    #inicial .texto .paragrafo .p2 {
        max-width: 400px;
        text-align: ju;
    }

    #inicial .botao{
        width: 45%;
        height: 50px;
        padding-top: 7px;
        margin-top: 40px;
    }

    #inicial .botao a {
        font-weight: 200;
    }

    #inicial .imagem {
        width: 80%;
        margin-left: -10px;
    }

    #profissional .titulo {
        max-width: 600px;
    }

    #profissional .imagem {
        width: 80%;
        margin-left: 5%;
    }

    #ferramentas .titulo {
        font-weight: 300;
    }

    #ferramentas .titulo span {
        font-weight: 700;
        
    }

    #ferramentas .paragrafo {
        margin-left: 20%;
        text-align: center;
        max-width: 800px;
        font-weight: 200;
    }

    #ferramentas .botao {
        margin-left: 25%;
    }

    #ferramentas .botao a {
        font-size: 25px;
    }

    #ferramentas .imagem {
        margin-left: 35%;
        width: 40%;
    }

    #rocketpage{
        margin-left: 20%;
    }

    #rocketpage .paragrafo{
        font-weight: 200;
        text-align: justify;
    }

    #rocketpage .imagem .aviao {
        width: 100%;
    }

    #rocketpage .imagem .pessoa {
        margin-left: 80px;
    }

    #rocketpage .imagem .funil {
        margin-left: 20%;
    }

    #rocketpage .imagem{
        width: 65%;
    }

    #footer .logo {
        width: 30%;
        margin-top: 10px;
        margin-left: 35%;
    }

    #footer .icons {
        margin-top: 10px;
    }

    #footer p {
        margin-top: 20px;
    }
}